.c-main__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-main__section {
  margin-top: 12px;
}

.c-main__action {
  margin-bottom: 12px;
  display: flex;
  justify-content: end;
  gap: 16px;
}

.c-main__exclaimer {
  text-align: center;
}

.c-main__action__save {
  transition: var(--transition);
  transition-property: background;
  border-radius: 4px;

  & .c-svg {
    padding: 4px;
    width: 24px;
    height: 24px;
  }

  & svg path {
    fill: var(--accent);
  }

  &.active {
    & svg path {
      fill: #facc15;
    }
  }

  &:active {
    .svg {
      transform: scale(0.8);
    }
  }

  @media (any-hover: hover) {
    &:not(.active):hover {
      background-color: var(--muted);

      & svg path {
        fill: var(--secondary);
      }
    }
  }
}

.c-main__search {
  width: 250px;
  position: relative;

  transition: var(--transition);
  transition-property: width;
}

.c-main__item {
  padding: 8px;

  border: 1px solid var(--primary);
  border-radius: 12px;

  transition: var(--transition);
  transition-property: box-shadow border-color;

  &.active {
    border-color: var(--primary);
    box-shadow: 0px 0px 5px 3px var(--primary);
  }

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.c-main__search__list {
  margin-top: 8px;

  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  z-index: 100;
  border: 1px solid var(--muted);
  position: absolute;
}

.c-main__search__list__item {
  cursor: pointer;
  padding: 8px 12px;
  width: 100%;

  background-color: #fff;
  transition: background-color var(--transition);

  &:hover {
    background-color: var(--accent);
    color: #fff;
  }
}

.c-type {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.c-ghost {
  margin-top: 16px;
  width: 100%;
  height: 100px;
  border: 4px dashed var(--primary);
  border-radius: 12px;

  position: relative;
}

@media (min-width: 576px) {
  .c-ghost {
    height: 200px;
  }
}

.c-ghost__button {
  position: absolute;
  inset: 0px;
  width: 100%;
  height: 100%;

  .c-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;

    transform: translate(-50%, -50%);
  }
}
