:root {
  font-family: "Ubuntu, sans-serif", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* variables */
  --body: #fff;
  --text: #000;
  --primary: #006d77;
  --secondary: #e29578;
  --accent: #83c5be;
  --muted: #edf6f9;
  --warning: #ffddd2;

  --transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  scrollbar-gutter: stable;

  scroll-behavior: smooth;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;

  background-color: var(--body);
  color: var(--text);
}

a {
  font-weight: 500;
  color: var(--text);
  text-decoration: inherit;
  transition: color var(--transition);
}

@media (any-hover: hover) {
  a:hover {
    color: var(--secondary);
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-family: inherit;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
}

#app {
  width: 100%;
}
@media (min-width: 576px) {
  .c-chart {
    padding: 30px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
